.activity-button {
    float: left;
    background-color: #CAEAD3;
    cursor: pointer;
    border-radius: 15px;
    height: 72px;
    width: 72px;
    margin: 6px;
    position: relative;
}

.activity-button div {
    display: block;
    height: 36px;
    width: 36px;
    margin: 0 auto;
    position: relative;
    top: 6px;
    text-align: center;
    opacity: 0.8;
}

.activity-button:active {
    background-color: #aac4b1;
}

.activity-button.selected {
    background-color: #aac4b1;
}

.activity-button span {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 6px;
    text-align: center;
    opacity: 0.8;
}