.card {
    border-radius: 16px;
    padding: 1%;
    margin: 5%;
    text-align: center;
    transform: rotate(-1.73deg);
}
.card * {
    transform: rotate(1.73deg);
}
.card h1 {
    opacity: 60%;
    font-size: medium;
}
.card .cardbg {
    transform: rotate(2.26deg);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 16px;
    opacity: 42%;
}