.pill-menu {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
    padding: 18px;
    border-radius: 35px;
    padding-right: 8px;
    font-weight: bold;
}
.pill-menu .primary {
    border-radius: 35px;
    height: 100%;
    padding: 11px 13px;
    margin-left: 10px;
}
.pill-menu.drop-shadow {
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.15);
}
.pill-menu span {
    cursor: pointer;
}