.slideup {
    position: absolute;
    top: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    background-color: white;
    visibility: hidden;
    transition: all 0.3s ease;
}
.open {
    visibility: visible;
    top: 0%;
    height: 100vh; /*Workaround to remove gap below slide ups in small screen mode. might be a better way to do this*/
}
