body {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@media screen and (min-width: 640px) {
    body {
        max-width: 464px;
        max-height: 956px;
        border-radius: 30px;
        box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.15);
        margin : 5% auto !important;
    }
    #home {
        padding: 30px;
    }
    .slideup.open {
        height: 100% !important; /*Workaround to remove gap below slide ups in small screen mode. might be a better way to do this*/
    }
    .pill-menu {
        position: absolute !important;
    }
}
