body {
  font-family: Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 640px) {
    body {
        max-width: 464px;
        max-height: 956px;
        border-radius: 30px;
        box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.15);
        padding: 3%;
        margin: 5% auto;
    }
    #home {
      padding: 30px;
    }
}
